*{word-break: keep-all;}
body{background-color: #f1c40f;}
h1{font-size:45px;
text-align: center;
border-bottom:2px solid #e0e0e0;
margin:0;
padding:20px;}
h3{
  font-size: 30px;}
a{
  color: white;
  text-decoration: none;}
ol{
  border-right:2px solid #e0e0e0;
display:block;
margin:0;
padding:0;
width:340px;}
#grid ol{
padding-left:20px;
}
#grid #article{
padding-left:20px;
margin:auto;
text-align: center;
content: center;
}
